body, p {
  height: auto;
  padding: 0;
  margin: 0;
}

.main-banner {
  background-image: url('image05.png');
  height: 65vh;
  background-position: center;
  background-position-y: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-banner-link {
  font-family: 'Koulen', cursive;
  color: #6850d0;
  padding: 7px 20px;
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #6850d0;
  box-shadow: 2px 2px #89e1ae;
  transition: 0.4s;
}
.main-banner-link:hover {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  text-shadow: 1px 1px #89e1ae;
  box-shadow: 2px 2px #89e1ae;
  transition: 0.4s;
}

.banner-logo img {
  height: 120px;
  width: 120px;
}

.inner {
  padding: 0px 40px;
}


///////////////////////////////////////////////

//////  BANNER TEXT

.banner-text-bg {
  // height: 160vh;
  background-image: url('banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.banner-main-text {
  font-family: 'Koulen', cursive;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 155px;
  justify-self: center;
  margin-top: 40px;

}

.banner-main-first {
  padding-top: 120px;
}

.banner-text-cardstitle {
  font-family: 'Koulen', cursive;
  font-size: 62px;
  text-shadow: 2px 1px #89e1ae;
  font-style: italic;
}

.main-section-second {
  padding-bottom: 60px;
}

.banner-text-cards {
  font-family: 'Koulen', cursive;
  font-size: 32px;
}


///////////////////////////////////////////

/// FOOTER


.footer-bg {
  // height: 120vh;
  background-image: url('footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0%;
  padding: 0 15px;
}

.banner-bottom-icons {
  font-size: 80px;
  padding-bottom: 15px;
}

.banner-iconscards-title {
  font-family: 'Koulen', cursive;
  font-size: 42px;
  text-shadow: 1px 1px #89e1ae;
  font-style: italic;
}

.banner-iconscards-p  {
  font-family: 'Koulen', cursive;
  font-size: 22px;
}

.banner-bottom-img {
  padding: 100px 0 0 0;
}

.footer-img {
  height: 500px;
  width: 100%;
  opacity: 0.7;
}

.banner-bottom-iconsdiv {
  padding: 160px 20px 100px 20px;
  margin-bottom: 80px;
}

.banner-bottom-startbtn {
  padding: 80px 0 100px 0;
}

.bottom-start-quiz {
  font-family: 'Koulen', cursive;
  color: #6850d0;
  text-shadow: 2px 2px rgb(44, 44, 44);
  font-size: 42px;
  background-color: rgba(255, 255, 255, 0.116);
  padding: 15px 25px;
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid #6850d0;
  box-shadow: 2px 2px rgb(44, 44, 44);
}
.bottom-start-quiz:hover {
  color: black;
  text-shadow: 2px 2px #6cce95;
  background-color: rgba(255, 255, 255, 0.431);
  border: 2px solid black;
  box-shadow: 2px 2px #6850d0;
  transition: 0.6s;
}

.footer-btn {
  color: #6850d0;
  text-decoration: none;
  transition: 0.4s;
}
.footer-btn:hover {
  color: white;
  transition: 0.4s;
}

.footer-medias {
  padding: 150px 0 0 0;
}

.footer-media-icon {
  text-decoration: none;
  font-size: 25px;
}

.copyright {
  height: 80px;
  font-size: 18px;
  color: #6850d0;
  transition: 0.4s;
  padding-bottom: 30px;
}

/////////////////////////////////////////



////// @MEDIA

// 1550 PX SCREEN
@media only screen and (max-width: 1550px) {
  .banner-main-text {
    font-size: 130px;
  }
}
// 1400 PX SCREEN
@media only screen and (max-width: 1400px) {
  .main-banner {
    height: 55vh;
  }
}
// 1300 PX SCREEN
@media only screen and (max-width: 1300px) {
  .banner-main-text {
    font-size: 110px;
  }
}
// 1000 PX SCREEN
@media only screen and (max-width: 1000px) {
  .main-banner {
    height: 45vh;
  }
  .banner-main-text {
    font-size: 90px;
  }
  .banner-main-first {
    padding-top: 100px;
  }

}
// 992 PX SCREEN (JUST FOR REMOVE THE DIVIDER)
@media only screen and (min-width: 992px) {
  .banner-iconscards-divider {
    display: none;
  }
}
// 991 PX SCREEN
@media only screen and (max-width: 991px) {
  .banner-bottom-iconsdiv {
    padding: 80px 20px;
    // background-color: rgba(224, 222, 222, 0.579);
    background-color: rgba(224, 222, 222, 0.296);
    box-shadow: 5px 5px rgba(121, 121, 121, 0.213);
    border-radius: 20px;
  }
  .banner-bottom-iconscards {
    padding-bottom: 10%;
  }
  .footer-bg {
    // height: 170vh;
    background-position-y: 0%;
  }
}
// 800 PX SCREEN
@media only screen and (max-width: 800px) {
  .main-banner {
    height: 40vh;
  }
  .main-banner-link {
    font-size: 14px;
  }
  .banner-logo img {
    height: 70px;
    width: 70px;
  }
}
// 600 PX SCREEN
@media only screen and (max-width: 600px) {
  .main-banner {
    background-position-y: 100%;
    // height: 35vh;
    padding: 0 !important;
  }
  .main-banner-link {
    font-size: 12px;
    padding: 7px 18px;
  }
  .inner {
    padding: 0px 20px;
  }
}
// 575 PX SCREEN
// @media only screen and (max-width: 575px) {
//   .banner-bottom-iconsdiv {
//     padding: 80px 10px;
//   }
// }
// 554 PX SCREEN
@media only screen and (max-width: 554px) {
  .banner-main-first {
    padding-top: 40px;
  }
  .banner-main-text {
    padding-top: 40px;
  }
  .inner {
    margin: 0;
    padding: 0 15px;
  }
  .banner-bottom-iconsdiv {
    padding-top: 40%;
  }
  .banner-bottom-iconscards {
    padding-bottom: 5%;
  }
}
