// Specific CSS for your home-page

body {
  height: auto;
  padding: 0;
  margin: 0;
}

//////////////// MAIN BANNER, LOGO AND NAV LINKS

.main-banner {
  background-image: url('image05.png');
  height: 70vh;
  background-position: center;
  background-position-y: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-banner-link {
  color: black;
  padding: 10px 25px;
  // background-color: aquamarine;
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.main-banner-text {
  margin: 50px;
}


@media only screen and (max-width: 1400px) {
  .main-banner {
    height: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  .main-banner {
    height: 55vh;
  }
}

@media only screen and (max-width: 800px) {
  .main-banner {
    height: 45vh;
  }
}

@media only screen and (max-width: 600px) {
  .main-banner {
    height: 35vh;
  }

  .main-banner-link {
    padding: 7px 18px;
  }
}

///////////////////////////////////////////////



footer {
  background-color: #54436B;
  justify-content: space-around;
}

.main-section, .second-main-section, .last-main-section {
  h2 {
    color: #54436B;
    text-shadow: #50CB93 1px 2px;
  }
  p {
    color: #646867;
    text-shadow: #9dffd3 0.5px 0.5px;
  }
}

.start-now-btn {
  margin-top: 24px;
  background-color: #54436B;
  color: #50CB93;
  border-radius: 5px;
}
.start-now-btn:hover {
  color: #9dffd3;
  background-color: #9771c8;
}

.last-main-section {
  padding-bottom: 40px;
}

.content {
  background-image: radial-gradient($white 60%, #ddf8ee 25%);

  width: 100%;
  height: 100%;

}
i{
  color: #ddf8ee;
}
