*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}


// code bellow is from the origin melhorraca
.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-times {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
  position: relative;
}

.tinder--card {
  box-shadow: 4px 4px #50cb93;
  display: inline-block;
  max-width: 600px;
  height: 500px;
  background: rgb(243, 240, 240);
  padding-bottom: 40px;
  border: 1px solid rgba(113, 113, 113, 0.722);
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 20px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.questions-cards-questions {
  font-family: 'Koulen', cursive;
  text-shadow: #50cb93 1px 1px;
  font-size: 22px;
  margin-top: 10px;
  padding: 0 5px;
  pointer-events: none;
  color: black;
}


.tinder--buttons {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 520px;
  margin-bottom: 30px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  box-shadow: 2px 2px #50cb93;
  border: 1px solid black;
  background: #FFFFFF;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #f58ad1;
}

.fa-remove {
  color: #CDD6DD;
}

.photourl {
  max-height: 100px;
}


// MEDIA VERTICAL

@media only screen and (max-height: 750px) {
  .tinder--cards {
    padding-top: 40px;
  }
  .tinder--card {
    max-width: 500px;
    height: 420px;
  }
  .tinder--buttons {
    margin-top: 440px;
    margin-bottom: 20px;
  }
}


// MEDIA
@media only screen and (max-width: 700px) {
  .tinder--cards {
    padding-top: 100px;
  }
  .tinder--card {
    max-width: 500px;
    height: 400px;
  }
  .tinder--buttons {
    margin-top: 450px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .tinder--cards {
    padding-top: 80px;
  }
  .tinder--card {
    max-width: 400px;
    height: 350px;
  }
  .tinder--buttons {
    margin-top: 400px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .tinder--card {
    max-width: 370px;
    height: 320px;
  }
  .questions-cards-questions {
    margin-top: 10px;
    font-size: 16px;
    padding: 0 5px;
    pointer-events: none;
  }
  .tinder--buttons {
    margin-top: 350px;
    margin-bottom: 30px;
  }
}
