// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@keyframes slideInBack {
  0% {
      transform: translateZ(1000px) scale(1);
      opacity: 0
  }
  70% {
      transform: scale(1.1);
      opacity: 1
  }
  55%,
  to {
      transform: translateZ(0) scale(1);
      opacity: 1
  }
}

@keyframes firstDrop {
    0% {
        transform: translateZ(0);
        opacity: 0
    }
    to {
        transform: translate3d(-4px, 100%, 0);
        opacity: 1
    }
}

@keyframes secondDrop {
    0% {
        transform: translateZ(0);
        opacity: 0
    }
    to {
        transform: translate3d(-8px, 200%, 0);
        opacity: .4
    }
}
  .Animdel\(\$normal\) {
   -webkit-animation-delay:.25s;
   animation-delay:.25s
  }

  .Animdur\(\$slow\) {
   -webkit-animation-duration:.5s;
   animation-duration:.5s
  }
  .Animdur\(\$xslow\),
  .Animdur\(1s\) {
   -webkit-animation-duration:1s;
   animation-duration:1s
  }
  .Animfm\(f\) {
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards
  }
  .Animfm\(bo\) {
   -webkit-animation-fill-mode:both;
   animation-fill-mode:both
  }
  .Animn\(\$anim-slide-in-back\) {
   -webkit-animation-name:slideInBack;
   animation-name:slideInBack;
  }
  .Animn\(\$anim-bounce-in\) {
   -webkit-animation-name:bounceIn;
   animation-name:bounceIn
  }

  .Animtf\(eo\) {
   -webkit-animation-timing-function:ease-out;
   animation-timing-function:ease-out
  }
  .Animtf\(l\) {
   -webkit-animation-timing-function:linear;
   animation-timing-function:linear
  }
  .Row {
   clear:both
  }
  .Mb\(8px\) {
   margin-bottom:8px
  }
  .Mb\(10px\) {
   margin-bottom:10px
  }
  .Mb\(52px\) {
   margin-bottom:52px
  }
  .Pos\(r\){
   position:relative
  }
  .Ta\(c\) {
   text-align:center
  }
  .Prs\(500px\) {
   perspective:500px
  }
  .Trsdu\(\$slow\) {
   transition-duration:.5s
  }
  .Row {
   width:100%
  }
  .Row {
   zoom:1
  }
  .Row {
   box-sizing:border-box;
   *display:block;
   *width:auto
  }

@-webkit-keyframes logoAnimation {
  50% {
  transform:scale(1.2)
  }
}
@keyframes logoAnimation {
  50% {
  transform:scale(1.2)
  }
}

svg {
  filter: drop-shadow(2px 2px #89e1ae);
  font-family: 'Koulen', cursive;
}


// NEW STYLE FOR THE RESULTS

.results-details{
  margin-top: 120px;
}

.results-bg {
  background-image: url('banner-bg.png');
  height: 100vh;
  background-repeat: no-repeat;
}

.results-banner-img {
  border-radius: 6px;
  box-shadow: 4px 4px #b0b1b0;
}

.results-banner {
  padding-top: 50px;
}

.results-banner-title {
  font-family: 'Koulen', cursive;
  color: black;
  font-size: 78px;
  text-shadow: 2px 2px #89e1ae;
  font-style: italic;
}

.results-banner-description {
  font-size: 22px;
}


// MEDIA
@media only screen and (max-width: 1199px) {
  .results-bg {
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .results-bg {
    height: 100%;
  }
}
