.login-container {
  margin-top: 80px;
  color: black;
}

.form-label {
  color: black;
}

.form-control:focus {
  color: black;
}

.form-actions {
  text-align: center;
}

input.btn {
  color: black;
}
