.login-container {
  margin-top: 80px;
}



.btn {
  justify-items: center;
  background-color: #50CB93;
  padding: 15px 100px;
  width: max-content;
  color: #54436B;
}

.btn:hover {
  color: white;
  background-color: #50cb94d5;
}

.form-actions {
  text-align: center;
}
