.devise-login-bg {
  background-image: url('banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.login-container {
  margin-top: 25vh;
  color: black;
}

.devise-login-card {
  border-radius: 8px;
  align-self: center;
}


.devise-card-text {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Koulen', cursive;
  color: #6850d0;
  text-shadow: 2px 2px #89e1ae;
  font-style: italic;
  margin: 0;
}

.devise-login-btn {
  font-family: 'Koulen', cursive;
  font-size: 18px;
  color: #6850d0;
  padding: 8px 35px;
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #6850d0;
  box-shadow: 2px 2px #89e1ae;
  transition: 0.4s;
}
.devise-login-btn:hover {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  text-shadow: 1px 1px #89e1ae;
  box-shadow: 2px 2px #89e1ae;
  transition: 0.4s;
  box-sizing: border-box;
}

.devise-forget-btn {
  padding: 10px;
  color: #6850d0;
  text-decoration: underline;
}
.devise-forget-btn:hover {
  color: #6cce95;
}

// send reset password instructions btn
.devise-reset-password {
  color: #6850d0;
  text-decoration: underline;
}
.devise-reset-password:hover {
  color: #6cce95
}


// footer social medias

.devise-footer-medias {
  margin-top: 150px;
}

.devise-media-btn {
  color: #6cce95;
  text-decoration: none;
  transition: 0.4s;

    &:hover {
      color: white;
      transition: 0.4s;
    }
}

.devise-footer-media-icon {
  text-decoration: none;
  font-size: 25px;
}

.devise-copyright {
  font-size: 18px;
  color: #6cce95;
  transition: 0.4s;
}


// simple form
.form-label {
  color: black;
}

.form-control:focus {
  color: black;
}

.form-actions {
  text-align: center;
}


// MEDIA

@media only screen and (max-height: 1200px) {
  .login-container {
    margin-top: 18vh;
    color: black;
  }
  .devise-footer-medias {
    margin-top: 100px;
  }
}

@media only screen and (max-height: 1000px) {
  .login-container {
    margin-top: 15vh;
    color: black;
  }
  .devise-footer-medias {
    margin-top: 80px;
  }
}

@media only screen and (max-height: 900px) {
  .login-container {
    margin-top: 10vh;
    color: black;
  }
  .devise-footer-medias {
    margin-top: 50px;
  }
}

// @media only screen and (min-width: 375px) {
//   .forget-pass {
//     justify-content: center;
//     padding: 0 10px;
//   }
// }


@media only screen and (max-width: 381px) {
  .forget-pass {
    display: grid;
    place-items: center;
  }
}
